# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [ ]:
# Create and print a variable to tell us your name.

In [1]:
# my name 
my_name = ("hritik minat")
my_name

'hritik minat'

In [ ]:
# Create and print a variable to tell us your age.

In [2]:
# my age 
my_age = 19
my_age

19

In [ ]:
# Create and print a variable to tell us how many times you've taken a trip within India.

In [3]:
#trip in india 
trip_in_india = 7
trip_in_india

7

# Create and print a variable to tell us how many times you've taken a trip outside India.

In [24]:
#trip outside india
trip_outside_india = 20
trip_outside_india

20

In [3]:
# Create and print a variable to calculate the total number of trips you've taken.

In [25]:
#total number of trips
total_number_of_trips = (trip_in_india+ trip_outside_india)
total_number_of_trips

27

In [23]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.

In [18]:
# starting phrase 
starting_phrase = "the total number of trips i have taken is "
starting_phrase

'the total number of trips i have taken is '

In [36]:
# sentence
sentence = starting_phrase+str(total_number_of_trips)
sentence

'average_number_of_trip_taken is 27'

In [16]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.

In [27]:
# i have taken more trips in india than outside india
i_have_taken_more_trips_in_india_than_outside_india = trip_in_india>trip_outside_india
i_have_taken_more_trips_in_india_than_outside_india

False

In [ ]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.

In [30]:
# average number of trips 
average_number_of_trips= (trip_in_india+trip_outside_india+my_age)/3
average_number_of_trips

15.333333333333334

In [ ]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.

In [38]:
# starting phrase
starting_phrase = "average number of trips i have taken is "
starting_phrase

'average number of trips i have taken is '

In [40]:
# sentence
sentence = starting_phrase+str(average_number_of_trips)
sentence

'average number of trips i have taken is 15.333333333333334'