#  Racial segregation in us cities report
- By Hritik Minat | Div-B

In [1]:
# project setup
import pandas as pd

In [2]:
# import the chicago data
chicago_df = pd.read_csv("data/prepped/chicago_race.csv")
#printing the first 5 rows of data
chicago_df.head(5)

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939

# diversity ratio

In [4]:
total_white_people = chicago_df["pop.white"].sum()
total_not_white_people = chicago_df["pop.not.white"].sum()
diversity_ratio = total_white_people/total_not_white_people

print("There are", total_white_people, "white people")
print("There are", total_not_white_people, "non white people")
print("The Diversity Ratio is", diversity_ratio)

There are 2513996 white people
There are 2134618 non white people
The Diversity Ratio is 1.1777264128757463

# measuring chicago's interaction index

In [5]:
# cacculating the total minority population 
total_minority_pop = chicago_df["pop.not.white"].sum()
#calculating the interaction index for eacg sub neighbourhood/sub tract
chicago_df["interaction_index"]= (chicago_df["pop.not.white"]/total_minority_pop) * (chicago_df["pop.white"]/chicago_df["pop"])
chicago_df.head()

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white,interaction_index
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550,0.000695
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036,0.000325
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106,0.000729
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366,0.000528
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939,0.000249

In [7]:
# calulating the interaction index for chicago (sum of interaction index column)
interaction_index_of_chicago  = chicago_df["interaction_index"].sum()
interaction_index_of_chicago

0.33621530101878605

# calculating the interaction index for all the US cities

In [8]:
 import os

In [9]:
city_file_name_list = os.listdir("data/prepped/")
city_file_name_list

['ok_city_race.csv',
 'denver_race.csv',
 'pittsburgh_race.csv',
 'syracuse_race.csv',
 'columbus_race.csv',
 'kc_race.csv',
 'milwaukee_race.csv',
 'wichita_race.csv',
 'memphis_race.csv',
 'st_louis_race.csv',
 'baltimore_race.csv',
 'charleston_race.csv',
 'dayton_race.csv',
 'chicago_race.csv']

In [12]:
def print_interaction_indexes():
    #getting a list of all the city file names
    city_file_name_list = os.listdir("data/prepped/")
    
    #for loop
    #for each city data
    for city_file_name in city_file_name_list:
        
        #import the city data
        city_df = pd.read_csv("data/prepped/"+ city_file_name)
        
        #calculating the total minority population for the city
        total_minority_pop = city_df["pop.not.white"].sum()
        
        #calculating the interaction index for each sub neighborhood/sub/tract
        city_df["interaction_index"]= (city_df["pop.not.white"]/total_minority_pop) * (city_df["pop.white"]/city_df["pop"])
        
        #calculating the interaction index the for the city (sum of the interaction index column)
        interaction_index_of_chicago  = city_df["interaction_index"].sum()
        
        print (city_file_name.replace("_race.csv", "").title(), ":", interaction_index_of_chicago)

In [13]:
print_interaction_indexes()

Ok_City : 0.6134720843684374
Denver : 0.6852801607490661
Pittsburgh : 0.602965687041454
Syracuse : 0.606170839777443
Columbus : 0.5370267887655849
Kc : 0.5806694539317967
Milwaukee : 0.40424141689420257
Wichita : 0.639562420122306
Memphis : 0.4811953882784695
St_Louis : 0.4204527865157873
Baltimore : 0.21709369506053244
Charleston : 0.5181057467459754
Dayton : 0.5072699799837672
Chicago : 0.33621530101878605